# API
VITE_API_URL=http://localhost:3000
VITE_CONTRACT_ADDRESS=0xYourContractAddress
VITE_POLYGON_MUMBAI_EXPLORER=https://mumbai.polygonscan.com/tx/
VITE_POLYGON_MUMBAI_RPC=https://rpc-mumbai.maticvigil.com
